.holder-bg {
    background-color: $color-brand;
    height: 100vh;
}

.site-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('../../../emilyvc/assets/img/profile-cutout.png');
    background-repeat: no-repeat;
    background-position: 30% 0;
}

.profile {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

}

.profile__title {
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: $baseline/6;
    margin-bottom: $baseline/6;
}

.profile__subtitle {
    font-size: 2.2rem;
}

.social__list {
    @extend .list--unset;

    li {
        display: inline-block;
    }
}