/**
 * Title:
 *    Containers
 * Description:
 *    Container based layout modules
 * Sections:
 *    $. Containers
 *    $. Your Styles
 */



/* $. Containers
\*----------------------------------------------------------------*/

.container {
    margin: 0 auto;
    width: 92.5%;
    min-width: 15em; // 240px
    max-width: 68.5em; // 1233px 

    @include respond-min($bp1) {
        width: 85%;
    }
}



/* $. Your Styles
\*----------------------------------------------------------------*/

.holder-bg {
    background-color: $color-brand;
    height: 865px;
}

.site-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('../../../emilyvc/assets/img/profile-cutout.png');
    background-repeat: no-repeat;
    background-position: 30% 0;
}

.profile {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

}