/**
 * Title:
 *    Header
 * Description:
 *    Header layout module, used to define the header at the top of each page.
 *    This could be used in combination with other components to create a
 *    fully-fledged design.
 * Sections:
 *    $. Base
 *    $. Logo
 *    $. Nav
 *    $. Toggle
 *    $. Search
 */



/* $. Base
\*----------------------------------------------------------------*/

.header {
    @extend %cf;
    position: relative;
}


/* $. Logo
\*----------------------------------------------------------------*/

.header__logo {
    float: left;
    margin-top: $base/2;
}

.header__mail {
    float: right;
    margin-left: $base/2; 
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


